<h1> Welcome to <%= @user.username %>'s page</h1>

<% if current_user == @user %>

  <h2>Your Polls</h2>
  <% @user.polls.each do |poll| %>
    <%= render partial: "polls/poll", locals: {poll: poll, survey: false} %>
  <% end %>

  <h2>Your Votes</h2>
  <ul>
  <% @user.votes.each do |vote| %>
    <li><%= link_to vote.response.poll.question, poll_path(vote.poll) %><br>
    You responded with "<%= vote.response.text %>"</li>
  <% end %>
  <ul>

<% else %>

  <h2>Published Polls</h2>
  <% @user.polls.published_polls.each do |poll| %>
    <%= render partial: "polls/poll", locals: {poll: poll, survey: false} %>
  <% end %>

  <h2>Public Votes</h2>
   <ul>
  <% @user.public_votes.each do |vote| %>
    <li><%= link_to vote.response.poll.question, poll_path(vote.poll) %><br>
    <%= @user.username %> responded with "<%= vote.response.text %>"</li>
  <% end %>
  </ul>

<% end %>

