  <div id="options">
    <%= form.label "Allow multiple responses?" %>
    <%= form.check_box :select_multiple %><br>
    <%= form.label "Limit this question to a survey?" %>
    <%= form.check_box :limit_to_survey %><br>
    <%= form.label "Allow Poll results to be public?" %>
    <%= form.check_box :public_results %><br>
  </div>