  <div id="options">
    <%= form.label "Allow multiple responses?" %>
    <%= form.check_box :select_multiple %><br>
    <% if signed_in? %>
        <%= form.label "Allow Poll results to be public?" %>
        <%= form.check_box :public_results %><br>
        <%= form.label "Publish this poll?" %>
        <%= form.check_box :published %><br>
    <% end %>
  </div>