<% if poll.open %>
  <%= render partial: 'polls/poll_head', locals: { poll: poll } %>

  <form method="POST" action="<%= poll_add_results_path(poll)%>">
    <% poll.responses.each do |response| %>
      <input type="<%= poll.select_multiple ? 'checkbox' : 'radio' %>" name="response[ids][]" value="<%= response.id %>"><label><%= response.text %></label><br>
    <% end %>
      <br>
      <% if signed_in? %>
        <label>Make this response private?</label>
        <input type="checkbox" name="response[public_response]" value="false"><br>
      <% end %>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="submit" name="submit">
  </form>

<% else %>
  <%= render partial: 'polls/poll_results', locals: { poll: poll } %>
  <p>Poll closed! No vote for you!</p>
<% end %>