<h1>Create a new Poll</h1>

<div id="poll-form">
  <%= form_for @poll do |f| %>
    <% if flash[:error] %>
      <%= flash[:error] %><br>
    <% end %>
    <%= f.label "Question:" %>
    <%= f.text_field :question %><br>
      <%= f.fields_for :responses do |r| %>
        <%= r.label "Response:" %>
        <%= r.text_field :text %><br>
      <% end %>

    <%= render partial: "poll_options", locals: {form: f} %>

    <%=f.submit "Create new poll" %>
    
  <% end %>
</div>

<script>

var baseUrl = '<%= root_url %>';


$('form').submit(function(a,b,c){
  a.preventDefault();
  var values = $(this).serialize();
  var post = $.post('/polls', values)
  post.success(function(a,b,c){
    addShareLink(a);
  }).fail(function(){
    alert("Your poll has invalid data. Please fix your errors and submit again.");
  });
});

function addShareLink(poll){
  $('#poll-form').html('<p>Poll Successfully created. Share your poll with this link: '+ baseUrl + 'polls/' + poll.poll.id +'</p>')
}
</script>