<h1>Create a new Poll</h1>

<%= form_for @poll do |f| %>
  <% if @poll.errors.any? %>
    <div id='errors'>
      <h2><%= pluralize(@poll.errors.count, 'error') %> errors need to be fixed before we can save your Poll!</h2>
      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label "Question:" %>
  <%= f.text_field :question %><br>
    <%= f.fields_for :responses do |r| %>
      <%= r.label "Response:" %>
      <%= r.text_field :text %><br>
    <% end %>

  <%= render partial: "poll_options", locals: {form: f} %>

  <%=f.submit "Create new poll" %>
  
<% end %>