<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>QuickPollster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/navbar' %>

  <div id="notice">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div>
    <a href="" ui-sref="polls" ui-sref-active="active">Go to the polls!</a>
    <ui-view></ui-view>
  </div>

<%= yield %>

</body>
</html>
